.container{
    padding:4px;
    border:4 px solid black;
    justify-content: center;
    align-items:center;

}
.Calculator{
    width:100%;
    width:240px;
    border-radius: 8px;
    justify-content: center;
    align-items:center;
    background-color: black;
}
div{
    padding:2px;
    
}

input[type=button]{
    padding:16px;
    background-color: greenyellow;
    color:black;
    border-radius: 4px;
    border:8px black;

}

.displaybox{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    color:black;
}